<%- include('partials/header.ejs');-%>

   <!-- Page Header Start -->
   <div class="container py-5 px-2 bg-primary">
    <div class="row py-5 px-4">
        <div class="col-sm-6 text-center text-md-left">
            <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">New Review</h1>
        </div>
        <div class="col-sm-6 text-center text-md-right">
            <div class="d-inline-flex pt-2">
                <h4 class="m-0 text-white"><a class="text-white" href="/">Home</a></h4>
                <h4 class="m-0 text-white px-2">/</h4>
                <h4 class="m-0 text-white">New Review</h4>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container bg-white pt-5">
    <div class="col-md-12 pb-5">
        <div class="contact-form">
            <div id="-success"></div>
            <form class="" action="/add" method="post">
                <div class="control-group mg-group">
                    <input class="form-control" type="text" name="b_title" placeholder="Title" autofocus="true" />
                </div>
                <div class="control-group mg-group">
                    <input class="form-control" type="text" name="b_author" placeholder="Author" autofocus="true" />
                </div>
                <div class="control-group mg-group">
                    <input class="form-control"type="text" name="b_genre" placeholder="Genre" autofocus="true" />
                </div>
                <div class="control-group mg-group">
                    <input class="form-control"type="text" name="b_date" placeholder="Publication Date" autofocus="true" />
                </div>
                <div class="control-group mg-group">
                    <input class="form-control"type="text" name="isbn" placeholder="ISBN" autofocus="true" />
                </div>
                <div class="control-group mg-group">
                    <textarea class="form-control" type="text" name="review" placeholder="Review" autofocus="true"></textarea>
                </div>
                <div class="control-group mg-group">
                    <input class="form-control" type="text" name="rating" placeholder="Rating" autofocus="true" />
                </div>
                <div class="mg-group">       
                    <button class="add btn btn-primary" type="submit" name="list"> Submit</button>
                </div>
              </form>


        </div>
    </div>
   
</div>
<!-- Contact End -->

<%- include('partials/footer.ejs'); -%>